body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,#141e30,#243b55);
    color: white;
    text-align: center;
}

.container {
    width: 60%;
    margin: auto;
}

textarea {
    width: 100%;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

select, input, button {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

button {
    background: linear-gradient(45deg,#00c6ff,#0072ff);
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.tag {
    padding: 5px;
    margin: 5px;
    background: cyan;
    display: inline-block;
    border-radius: 20px;
}

.missing {
    background: red;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    line-height: 120px;
    font-size: 20px;
}